<!DOCTYPE html>
<html>
<head>
<title>Feedback form</title>
</head>
<body>
<form action="/add" method="post">
  Name:<br>
  <input type="text" name="newItem" required >
  <br>
  <br>
  Email:<br>
  <input type="email" name="newItem" required>
  <br>
  <br>
  Rate us:<br>
  <select name="newItem" required>
    <option value="10">10</option>
    <option value="9">9</option>
    <option value="8">8</option>
    <option value="7">7</option>
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>
  <br>
  <br>
  Feedback:<br>
  <input type="text" name="newItem" required >
  <br>
  <br>
  <input type="submit" value="Submit">
</form>


</body>
</html>